<!DOCTYPE html>
<html lang="en">

{% load staticfiles %}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sand | Movit</title>

    <!-- Bootstrap core CSS -->

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <link href="{% static "fonts/css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/animate.min.css" %}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "css/maps/jquery-jvectormap-2.0.1.css" %}" />
    <link href="{% static "css/icheck/flat/green.css" %}" rel="stylesheet" />
    <link href="{% static "css/floatexamples.css" %}" rel="stylesheet" type="text/css" />

    <!-- Custom table styling plus plugins -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link href="{% static "css/icheck/flat/green.css" %}" rel="stylesheet">
    <link href="{% static "css/datatables/tools/css/dataTables.tableTools.css" %}" rel="stylesheet">

    <!-- Custom styling plus plugins -->
    <link href="{% static "css/custom.css" %}" rel="stylesheet">
    <link href="{% static "css/icheck/flat/green.css" %}" rel="stylesheet">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/nprogress.js" %}"></script>
    <script>
        NProgress.start();
    </script>

    <!--[if lt IE 9]>
        <script src="../assets/js/ie8-responsive-file-warning.js"></script>
        <![endif]-->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>


<body class="nav-md">

    <div class="container body">


        <div class="main_container">

            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        <a href="/index" class="site_title"><span>Sandd</span></a>
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="{% static "images/img.jpg" %}" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>Chris Mulinde</h2>
                        </div>
                    </div>
                    <!-- /menu prile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li><a href="/index"><i class="fa fa-home"></i> Home</a></li>
                                <li><a>Central <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="#">Stores</a>
                                        </li>
                                        <li><a href="#">Agents</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">North <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="#">Stores</a>
                                        </li>
                                        <li><a href="/agents">Agents</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">South <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="#">Stores</a>
                                        </li>
                                        <li><a href="#">Agents</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">East <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="#">Stores</a>
                                        </li>
                                        <li><a href="#">Agents</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#">West <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="#">Stores</a>
                                        </li>
                                        <li><a href="#">Agents</a>
                                        </li>
                                    </ul>
                                </li>
                        </div>
                    </div>
                    <!-- /sidebar menu -->

                    <!-- /menu footer buttons -->
                    <div class="sidebar-footer hidden-small">
                        <a data-toggle="tooltip" data-placement="top" title="Settings">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                            <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Lock">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                        </a>
                        <a data-toggle="tooltip" data-placement="top" title="Logout">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                        </a>
                    </div>
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">

                <div class="nav_menu">
                    <nav class="" role="navigation">
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <ul class="nav navbar-nav navbar-right">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <img src="images/img.jpg" alt="">Chris Mulinde
                                    <span class=" fa fa-angle-down"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-usermenu animated fadeInDown pull-right">
                                    <li><a href="javascript:;">  Profile</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <span class="badge bg-red pull-right">50%</span>
                                            <span>Settings</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">Help</a>
                                    </li>
                                    <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>

            </div>
            <!-- /top navigation -->


            <!-- page content -->
            <div class="right_col" role="main">

                <!-- top tiles -->
                <div class="row tile_count">
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top">Units Sold Today</span>
                            <div class="count">2,500</div>
                            <span class="count_bottom"><i class="green">4% </i> From last Week</span>
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top">Units Sold this Week</span>
                            <div class="count">1,230</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top">Units Sold this Month</span>
                            <div class="count">2,500</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
                        </div>
                    </div>
                    <div class="animated flipInY col-md-2 col-sm-4 col-xs-4 tile_stats_count">
                        <div class="left"></div>
                        <div class="right">
                            <span class="count_top">Total Units Sold</span>
                            <div class="count green">70,325</div>
                            <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>
                        </div>
                    </div>

                </div>
                <!-- /top tiles -->

                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>Andrew <small> sales agent</small></h3>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-6 col-xs-12">
                            <div class="x_panel">

                                <div class="x_title">
                                    <h2>Stock Form</h2>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content">
                                    <br />
                                    <form class="form-horizontal form-label-left input_mask" action="/agent_form/" method="post">

                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Shampoo</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Number of Units sold" id="shampoo" name="shampoo">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Hair Gel </label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Number of Units Sold" id="hair_gel" name="hair_gel">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Relaxer</label>
                                            <div class="col-md-9 col-sm-9 col-xs-12">
                                                <input type="text" class="form-control" placeholder="Number of Units Sold" id="relaxer" name="relaxer">
                                            </div>
                                        </div>
                                        <div class="radio">
                                                    <label>
                                                        <input type="radio" class="flat" checked name="iCheck"> Opening Stock
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" class="flat" name="iCheck"> Closing Stock
                                                    </label>
                                                </div>
                                                <div class="radio">
                                                    <label>
                                                        <input type="radio" class="flat" name="iCheck"> New Stock
                                                    </label>
                                                </div>
                                        </div>

                                        </div>
                                        <div class="ln_solid"></div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                                <button type="submit" class="btn btn-primary">Cancel</button>
                                                <button type="submit" class="btn btn-success">Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />

                <!-- footer content -->

                <footer>
                    <div class="">
                        <p class="pull-right">2015 |
                            <span class="lead">Sandd</span>
                        </p>
                    </div>
                    <div class="clearfix"></div>
                </footer>
                <!-- /footer content -->
            </div>
            <!-- /page content -->

        </div>

    </div>

    <div id="custom_notifications" class="custom-notifications dsp_none">
        <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group">
        </ul>
        <div class="clearfix"></div>
        <div id="notif-group" class="tabbed_notifications"></div>
    </div>

    <script src="js/bootstrap.min.js" %}"></script>

    <!-- gauge js -->
    <script type="text/javascript" src="{% static "js/gauge/gauge.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/gauge/gauge_demo.js" %}"></script>
    <!-- chart js -->
    <script src="{% static "js/chartjs/chart.min.js" %}"></script>
    <!-- bootstrap progress js -->
    <script src="{% static "js/progressbar/bootstrap-progressbar.min.js" %}"></script>
    <script src="{% static "js/nicescroll/jquery.nicescroll.min.js" %}"></script>
    <!-- icheck -->
    <script src="{% static "js/icheck/icheck.min.js" %}"></script>
    <!-- daterangepicker -->
    <script type="text/javascript" src="{% static "js/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/datepicker/daterangepicker.js" %}"></script>

    <script src="{% static "js/custom.js" %}"></script>

    <!-- flot js -->
    <!--[if lte IE 8]><script type="text/javascript" src="{% static "js/excanvas.min.js" %}"></script><![endif]-->
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.pie.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.orderBars.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.time.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/date.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.spline.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.stack.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/curvedLines.js" %}"></script>
    <script type="text/javascript" src="{% static "js/flot/jquery.flot.resize.js" %}"></script>

    <!-- echart -->
    <script src="{% static "js/echart/echarts-all.js" %}"></script>
    <script src="{% static "js/echart/green.js" %}"></script>

    <script>
        var myChart9 = echarts.init(document.getElementById('mainb'), theme);
        myChart9.setOption({
            title: {
                x: 'center',
                y: 'top',
                padding: [0, 0, 20, 0],
                text: 'Project Perfomance :: Revenue vs Input vs Time Spent',
                textStyle: {
                    fontSize: 15,
                    fontWeight: 'normal'
                }
            },
            tooltip: {
                trigger: 'axis'
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {
                        show: true,
                        readOnly: false
                    },
                    restore: {
                        show: true
                    },
                    saveAsImage: {
                        show: true
                    }
                }
            },
            calculable: true,
            legend: {
                data: ['Revenue', 'Cash Input', 'Time Spent'],
                y: 'bottom'
            },
            xAxis: [
                {
                    type: 'category',
                    data: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            }
        ],
            yAxis: [
                {
                    type: 'value',
                    name: 'Amount',
                    axisLabel: {
                        formatter: '{value} ml'
                    }
            },
                {
                    type: 'value',
                    name: 'Hours',
                    axisLabel: {
                        formatter: '{value} °C'
                    }
            }
        ],
            series: [
                {
                    name: 'Revenue',
                    type: 'bar',
                    data: [2.0, 4.9, 7.0, 23.2, 25.6, 76.7, 135.6, 162.2, 32.6, 20.0, 6.4, 3.3]
            },
                {
                    name: 'Cash Input',
                    type: 'bar',
                    data: [2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3]
            },
                {
                    name: 'Time Spent',
                    type: 'line',
                    yAxisIndex: 1,
                    data: [2.0, 2.2, 3.3, 4.5, 6.3, 10.2, 20.3, 23.4, 23.0, 16.5, 12.0, 6.2]
            }
        ]
        });
    </script>
    <!-- /footer content -->
</body>

</html>
